<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link
  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.pumpkin.min.css"
>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Flask Demo</li>
            </ul>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/test/">Test</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/random/">Random</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}    
    </main>

    <footer>
        <p>&copy; 2025 Scott Noble</p>
    </footer>
</body>

</html>
