{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo
{% endblock %}

{% block content %}
    <section id="hero">
        <h2>Hello!!!</h2>
    </section>

    <section id="things">
    
        {% for thing in things %}

            <article>
            
                <header>
                    {{ thing["name"] }}
                
                </header>

                Cost ${{ thing["cost"] }} <br>

                Description {{ thing["description"] }}

                <footer>
                    Delete
                </footer>
            
            
            </article>


        {% endfor %}

    </section>
{% endblock %}